<!DOCTYPE html>
<html ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <title>SportsStore</title>
    <link rel="stylesheet" href="../sass/bootstrap.css">
    <link rel="stylesheet" href="../sass/bootstrap-theme.css">
    <script src="../angular.js"></script>
    <script src="../angular-route.js"></script>
    <script src="../angular-resource.js"></script>
</head>
<body ng-controller="productController">
    <div class="navbar navbar-inverse">
        <a href="#" class="navbar-brand">商店</a>
        <!--购物车-->
        购物车:<cart-summary />
        <!--自定义指令，自动跳转到 cartSummary.html 页面-->
    </div>

    <!--错误提示页-->
    <div class="alert alrt-danger" ng-show="products.error">
        Error （{{products.error.status}}）. The product was not loaded.
        <a href="/app.html" class="alert-link">Click me to try again</a>
    </div>
    <ng-view />
</body>
<script>

</script>
<script src="../route/indexRoute.js"></script>
<script src="../controllers/productListController.js"></script>
<script src="../filters/customFilters.js"></script>
<script src="../components/cart.js"></script>

</html>