<!DOCTYPE html>
<html ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <title>一个简单的Angular示例</title>
    <link rel="stylesheet" href="../sass/bootstrap.css">
    <link rel="stylesheet" href="../sass/bootstrap-theme.css">
    <script src="../angular.js"></script>
    <script src="../angular-route.js"></script>
    <script src="../angular-resource.js"></script>
</head>
<body ng-controller="productController">
    <div class="navbar navbar-inverse">
        <a href="#" class="navbar-brand">商店</a>
    </div>

    <div class="panel panel-default row">
        <div ng-view></div>
    </div>
    <script>
        var s = angular.module('myapp', ['ngRoute']);
        s.config(['$routeProvider', '$locationProvider', function ($routeProvider, $locationProvider) {
            $locationProvider.html5Mode(false).hashPrefix('');
            // 解决 angular1.6 在h5 中的 url 解析问题

            // 下面开始进行路由设置
            $routeProvider
                .when('/productsList', {
                    templateUrl: 'productsList.html'
                });
        }])
    </script>
    <script src="../controllers/productListController.js"></script>
</body>

</html>