<!DOCTYPE html>
<html ng-app="storeAdmin">
<head>
    <meta charset="UTF-8">
    <title>Administration</title>
    <link rel="stylesheet" href="../sass/bootstrap.css">
    <link rel="stylesheet" href="../sass/bootstrap-theme.css">
    <script src="../angular.js"></script>
    <script src="../angular-resource.js"></script>
    <script src="../angular-route.js"></script>
<body>
<ng-view></ng-view>
</body>
<script src="../route/adminRoute.js"></script>
<script src="../controllers/adminController.js"></script>
<script src="../controllers/adminProductsController.js"></script>
</html>